body{
    color: #181d1d;
    font-family: Arial, serif;
    font-size: 22px;
}

h2{
    color: #dc143c;
    font-size: 24px;
}

h1:hover {
    color: #ff001e;
    transition: color 1s;
}

#collections-table img:hover{
    width: 200px;
    transition: width 2s;
}
.grey-colored-tr{
    background-color: #f3f1f1;
}

.grey-colored-tr:hover{
    background-color: #ffdada;
    transition: background-color 1s;
}

table{
    border-spacing: 0;
}

#menu td{
    padding-right: 15px;
}

#menu{
    margin-left: 15px;
}

a{
    color: darkgray;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: dimgray;
    transition: color 1s;
}

#profile-img{
    border-radius: 50%;
}

#profile-info-table{
    text-align: center;
}

form label{
    display: inline-block;
    width: 100px;
}

form input{
    border-color: darksalmon;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
