<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->

<head>
    <meta charset="UTF-8">
    <title>Collection Manager</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>

<!--      <h1 th:text="${value}"></h1>-->
<!--      <div th:each="collection : ${all_collections}" >-->
<!--      <h3 th:text="${collection.title}"></h3>-->
<!--      </div>-->

        <table width="100%">
            <tr>
              <td height="150px" bgcolor="#faebd7">
                <table width="100%">
                  <tr>
                      <td height="100px" width="100px">
                          <img src="https://pngimg.com/uploads/adidas/adidas_PNG22.png" height="100px">
                      </td>
                      <td><h1 align="center">Приложение для работы с коллекциями на любой вкус</h1></td>
<!--                  <td width="100px"><a th:text="${logined} ? 'Выйти' : 'Войти'" href="sign-in.html"></a></td>-->
                      <td width="100px">
                          <a th:if="${logined}" th:href="@{/logout}">Выйти</a>
                          <a th:unless="${logined}" th:href="@{/registration}">Войти</a>

                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="75px" bgcolor="#fbffd1">
                <table id="menu">
                  <tr>
                    <td><a th:href="@{/index}">Collections</a></td>
                    <td><a href="#">Admin</a></td>
                    <td><a href="profile.html">Profile</a></td>
                  </tr>
                </table>

              </td>
            </tr>
            <tr>
              <td height="200px">
                <h2>Топ коллекций:</h2>
                <table id="collections-table" width="100%">

                  <tr class="grey-colored-tr" th:each="collection : ${all_collections}">
                    <td width="100px"><img width="100px" th:src="${collection.imageUrl}"></td>
                    <td th:text="${collection.name}"></td>
                    <td th:text="${collection.title}"></td>
                    <td th:text="${collection.userName}" width="10%"></td>
                    <td>tags</td>
                    <td width="50px"><a href="#">Open</a></td>
                  </tr>

                </table>
              </td>
            </tr>
            <tr>
              <td height="150px" bgcolor="#faebd7">4</td>
            </tr>
        </table>

</body>
</html>
