<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Collection Manager</title>
  <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>

<table width="100%">
  <tr>
    <td height="150px" bgcolor="#faebd7">
      <table width="100%">
        <tr>
          <td height="100px" width="100px">
            <img src="https://pngimg.com/uploads/adidas/adidas_PNG22.png" height="100px">
          </td>
          <td><h1 align="center">Приложение для работы с коллекциями на любой вкус</h1></td>
          <td width="100px"><a href="sign-in.html">Войти</a></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="75px" bgcolor="#fbffd1">
      <table id="menu">
        <tr>
          <td><a th:href="@{/index}">Collections</a></td>
          <td><a href="#">Admin</a></td>
          <td><a th:href="@{/profile/{id} (id=${user.id})}">Profile</a></td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td height="200px">
      <h2>Профиль:</h2>
      <table width="600px" >
        <tr height="300px">
          <td width="300px">
            <img id="profile-img" width="300px" src="https://1.bp.blogspot.com/-8RC2_gqzRMg/U_muHo0pZfI/AAAAAAAAAM4/ypW9H6uPzmQ/s1600/Tony%2B2%2BB%2B%26%2BW.jpg">
          </td>
          <td rowspan="2" valign="top">
            <table id="profile-info-table" width="100%" >
              <tr>
                <td th:text="${user.firstName}"></td>
              </tr>
              <tr>
                <td th:text="${user.lastName}"></td>
              </tr>
              <tr>
                <td th:text="${user.email}"></td>
              </tr>
              <tr>
                <td th:text="${user.role}"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>33</td>
        </tr>
      </table>
      <hr>
      <h2>Создайте коллекцию:</h2>
<!--      //th:action="@{/collections/{userId}/create(userId=${user.id})}"-->
      <form th:object="${collectionCreateDto}" method="post" th:action="@{/collections/create}">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}">
        <br>
        <label for="title">Title:</label>
        <input type="text" id="title" th:field="*{title}">
        <br>
        <label for="description">Descript:</label>
        <input type="text" id="description" th:field="*{description}">
        <br>
        <label for="imageUrl">ImageUrl:</label>
        <input type="url" id="imageUrl" th:field="*{imageUrl}">
        <br>
        <input type="hidden" name="userId" th:value="${user.id}">
        <br>
        <br>
        <input type="submit" value="Create">
      </form>
    </td>
  </tr>
  <tr>
    <td height="150px" bgcolor="#faebd7">4</td>
  </tr>
</table>

</body>
</html>

