<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Collection Manager</title>
  <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>

<table width="100%">
  <tr>
    <td height="150px" bgcolor="#faebd7">
      <table width="100%">
        <tr>
          <td height="100px" width="100px">
            <img src="https://pngimg.com/uploads/adidas/adidas_PNG22.png" height="100px">
          </td>
          <td><h1 align="center">Приложение для работы с коллекциями на любой вкус</h1></td>
          <td width="100px"><a href="sign-in.html">Войти</a></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="75px" bgcolor="#fbffd1">
      <table id="menu">
        <tr>
          <td><a href="index.html">Collections</a></td>
          <td><a href="#">Admin</a></td>
          <td><a href="profile.html">Profile</a></td>
        </tr>
      </table>

    </td>
  </tr>
  <tr height="200px">
    <td>
      <h2>Представтесь:</h2>
      <form th:object="${loginDto}" method="post" th:action="@{/users/login}">
        <label for="login">Login:</label>
        <input type="text" id="login" th:field="*{email}" placeholder="login">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" placeholder="password">
        <br>
        <br>
        <input type="submit" value="Войти">
      </form>

      <hr>

      <h2>Регистрация:</h2>
      <form th:object="${createDto}" method="post" th:action="@{/users/create}">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{firstName}" placeholder="name">
        <br>
        <label for="lname">Lastname:</label>
        <input type="text" id="lname" th:field="*{lastName}" placeholder="lname">
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}" placeholder="email">
        <br>
        <label for="password">Password:</label>
        <input type="text" id="passwordReg" th:field="*{password}" placeholder="password">
        <br>
        <br>
        <input type="submit" value="Зарегистрироваться">
      </form>
    </td>
  </tr>
  <tr>
    <td height="150px" bgcolor="#faebd7">4</td>
  </tr>
</table>

</body>
</html>

